{
    "env": {
        "commonjs": {
            "presets": [
                "@babel/preset-env", "@babel/react", "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/transform-runtime",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-optional-chaining"
            ]
        },
        "es": {
            "presets": [
                ["@babel/preset-env", {
                    "loose": false,
                    "modules": false
                }], "@babel/react", "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/transform-runtime",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-optional-chaining"
            ]
        },
        "test": {
            "presets": [
                "@babel/preset-env", "@babel/react", "@babel/preset-flow"
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-optional-chaining"
            ]
        }
    }
}
